<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: risorse-head-bootstrap"></th:block>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <h1>List of degrees</h1>
    <!--ul class="list-group">
        <li class="list-group-item" th:each="departments : ${listaDeiPaesi}" th:text="${departments.getName()}">xxx</li>
    </!--ul-->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Address</th>
                <th>Email</th>
                <th>Website</th>
                <th>Department</th> 
            </tr>
        </thead>
        <tbody>
            <tr th:each = "dl: ${degreesList}">
                <td th:text = "${dl.name}"></td>
                <td th:text = "${dl.level}"></td>
                <td th:text = "${dl.address}"></td>
                <td th:text = "${dl.email}"></td>
                <td th:text = "${dl.website}"></td>
                <td th:text = "${dl.department.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>