<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of degrees</h1>
    <!--ul class="list-group">
        <li class="list-group-item" th:each="departments : ${listaDeiPaesi}" th:text="${departments.getName()}">xxx</li>
    </!--ul-->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Address</th>
                <th>Email</th>
                <th>Website</th>
                <th>Department</th> 
            </tr>
        </thead>
        <tbody>
            <tr th:each = "degreeList: ${listaDeiPaesi}">
                <td th:text = "${degreeList.name}"></td>
                <td th:text = "${degreeList.level}"></td>
                <td th:text = "${degreeList.address}"></td>
                <td th:text = "${degreeList.email}"></td>
                <td th:text = "${degreeList.website}"></td>
                <td th:text = "${degreeList.department.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>